footer {
    background-color: rgb(31, 31, 31);
    height: fit-content;
    align-content: center;
    /* top left bottom right */
    padding: 16px;
    
    #contact {
        display: flex;
        flex-direction: column;
        gap: 22px;
    }
  }
  
  .footer-contact {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  
  footer p {
    color: #EEEEEE;
    text-align: center;
  }
  
  footer h1 {
    color: #EEEEEE;
  }
  
  .footer-title p {
    color: #555555;
  }

  .footer-c {
    display: flex;
    justify-content: space-between;
  }
  
  .footer-c p {
    color: #555555;
    font-size: small;
  }
  
  .contact-info-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
  }
  
  .contact-info-upper-container {
    /* background-color: #8C8C8C; */
    display: flex;
    border-radius: 2rem;
    border: 0.1rem solid;
    border-color: rgb(85, 85, 85);
    /* background: (250, 250, 250); */
    /* top left bottom right */
    padding: 8px 12px 8px 12px;
  }