#projects {
    height: fit-content;
    padding: 50px 16px 50px 16px;
    display: flex;
    flex-direction: column;
    gap: 22px;
  }
  
  .project-details-container {
    display: flex;
    flex-direction: column;
    gap: 22px;
  }
  
  .project-img {
    border-radius: 12px;
    width: 240px;
    height: 220px;
  }
  
  .btn2 {
    color: black;
    font-weight: 600;
    transition: all 300ms ease;
    padding: 16px;
    width: 100%;
    border-radius: 16px;
    border: #555555 0.2rem solid;
    background: transparent;
  }

  .project-title-container {
    display: flex;
    gap: 8px;
  }

  .project-title {
    text-align: start;
  }

  .project-title-container h3 {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .project-details-container p {
    text-align: justify;
  }