/* Mobile Medium */
@media (min-width: 320px) {
  /* default */
  nav {
    flex-direction: row-reverse;
  }
  /* header {
    padding-right: 2em;
  } */
  .hide-desktop {
    display: block;
  }
  .title1 {
    font-size: 2.7em;
  }
  .copy-medium {
    font-size: 1em;
  }
  .gutter-outside {
    padding-left: 1em;
    padding-right: 1em;
  }
  .intro-description {
    padding-top: 1em;
  }
  .nav-btn {
    content: "ASDAS";
    display: inline-block;
    border: 0.16em solid rgb(255, 255, 255);
    border-radius: 2em;
    width: fit-content;
    box-sizing: border-box;
    text-decoration: none;
    font-weight: 300;
    font-size: 1rem;
    color: #ffffff;
    text-shadow: 0 0.04em 0.04em rgba(255, 255, 255, 0.253);
    text-align: center;
    transition: all 0.2s;
  }
  .btn-color {
    border-color: #fff;
    background: transparent;
    transition: transform 0.2s cubic-bezier(0.235, 0, 0.05, 0.95);
}
}

@media (min-width: 375px) {
  
  /* .copy-medium {
    font-size: 1em;
  }
  .gutter-outside {
    padding-left: 1em;
    padding-right: 5.5em;
  }
  .intro-description {
    padding-top: 1em;
  } */
}



/* Mobile Large */
@media (min-width: 425px) {
  nav {
    flex-direction: row-reverse;
  }
 
  .profile-title {
    font-size: 2rem;
  }
  
  .profile-title {
    font-size: 2.5rem;
  }
  .text-container p {
    font-size: 1rem;
  }
  .skills-body-container {
    font-size: 1rem;
  }
  .title-subhead {
    font-size: 1rem;
  }
  .arrow-text {
    font-size: 1rem;
  }
  .content {
    .text {
      font-size: 2.5rem;
    }
  }
}





/* Tablet */
@media (min-width: 768px) {
  #about {
    padding: 32px;
  }
  #projects {
    padding: 32px;
  }
  footer {
    padding: 32px;
  }
  header {
    padding: 0 32px;
  }
  nav {
    flex-direction: row;
    gap: 2em;
  }
  .title1 {
    font-size: 3em;
  }
  .gutter-outside {
    padding-left: 4em;
    padding-right: 4em;
  }
  .ultra-gradient-wrapper {
    font-size: 1.4vh;
  }
  /* .main-shapes-wrapper, .blending-group-wrapper {
    filter: blur(80px);
  } */
  .text-container {
    flex-direction: row;
  }
  .text-container img {
    height: fit-content;
    width: 40%;
  }
  .logo-section {
    font-size: 1.4rem;
}
  .profile-title {
    font-size: 2.5rem;
  }
  .hero-section {
    padding: 0 32px;
  }
  .nav-btn {
    font-size: 1rem;
  }
  .btn-container {
    justify-content: flex-start;
  }
  .timeline {
    margin: 0;
  }
  .container {
    width: 50%;
    padding-right: 50px;
  }
  .text-box {
    padding: 20px 30px;
  }
  .right-container {
      left: 50%;
  }
  .right-container img {
      left: -11px;
  }
  .left-container img {
    left: auto;
    right: -7px;
  }
  .timeline::after {
    left: 50%;
  }
  .left-container-arrow {
    left: auto;
    right: -15px;
    border-left: 15px solid antiquewhite;
    border-right: none;
  }
  .content {
    .text {
      font-size: 2.5rem;
    }
  }
  .hide-desktop {
    display: none;
  }
  nav ul {
    position: unset;
    background: none;
    display: flex;
    gap: 2em;
    height: auto;
    width: auto;
    padding: 0;
    /* padding-top: 0; */
    
    transform: translateX(0%);
  
    li a {
        color: rgb(255, 255, 255);
        text-decoration: none;
        font-size: 1.4rem;
  
        &:hover {
            color: rgb(209, 209, 209);
            text-decoration: underline;
            text-underline-offset: 1rem;
            text-decoration-color: rgb(207, 207, 207);
        }
      }
    }
}








/* Laptop 1024 */
@media (min-width: 1024px) {
  footer #contact {
    flex-direction: row;
  }
  header {
    padding: 0px 150px;
  }
  .title1 {
    font-size: 4em;
  }
  .header-left img {
    height: 24px;
    width: 24px;
  }
  .hero-section {
      padding: 0 150px;
      gap: 40px;
  }
  nav {
    gap: 2em;
    flex-direction: row;
  }
  .btn-container {
    justify-content: flex-start;
  }
  a {
    font-size: 15px;
  }
  .profile-title {
    font-size: 3rem;
  }
  .title-subhead {
    font-size: 1.125rem;
  }
  .get-in-touch img {
    height: 22px;
    width: 22px;
    margin-top: 5px;
  }
  .arrow-text {
    font-size: 22px;
  }
  .text-container {
    flex-direction: row;

    img {
      height: 380px;
      width: 292px;
    }
  }
  .skills-body-container h3 {
    width: -webkit-fill-available;
  }
  .skills-list {
    gap: 0;
  }
  .logos {
    padding: 0;
  }
  .content {
      width: 100%;
      height: 100%;
      display: flex;
      background: #000;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      .text {
        text-align: center;
        font-size: 60px;
        width: 100%;
        padding: 0 144px;
        color: white;
        position: relative;
        .gradient {
          position: absolute;
          width: 100%;
          z-index: 2;
          background-color: #000;
          mix-blend-mode: darken;
          height: 100%;
          top: 0;
          left: 0;
        }
        img {
          width: 100%;
        }
    }
  }
  #about {
    padding: 32px 150px;
  }
  .skills-body-container {
    display: flex;
    gap: 100px;
  }
  .skills-body-container h1 {
    width: 320px;
  }
  #projects {
    padding: 32px 150px;
  }
  footer {
    padding: 32px 250px;
  }
  .nav-btn {
    padding 15px 32px;
  }
}





/* Laptop Large */
@media (min-width: 1440px) {
  header {
    padding: 0px 300px;
  }
  .title1 {
    font-size: 6em;
  }
  .hero-section {
    padding: 0px 300px;
  }
  .profile-title {
    font-size: 4rem;
  }
  .line-break {
    display: block;
  }
  #about {
    padding: 50px 300px;
  }
  #projects {
    padding: 50px 300px;
  }
  footer {
    padding: 50px 600px;
  }
}
